@use 'variables' as *;
@use 'mixins' as *;

html {
	font-size: 100%;
}

body {
	overflow-x: hidden;
	font-family: $font-family;
	background-color: $light-gray;
	color: $light-gray;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	transition: 0.2s linear;
}

*::selection {
	background-color: $purple;
	color: $white;
	font-weight: $font-regular;
}

.text {
	resize: none;
}

li {
	list-style-type: none;
}
