// Colors
$pink: #fb2576;
$light-pink: #fdd1e2;
$purple: #3f0071;
$navy: #150050;
$dark-gray: #2f2e41;
$light-gray: #f5f5f5;
$extra-light-gray: #fafafa;
$white: #ffff;

// Fonts
$font-family: 'Inter', sans-serif;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;
$font-thin: 100;

// Line height
$line-height: 1.5rem;

// Border radius
$border-radius: 5px;

// Shadows
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Sizes
$big: 2.5rem;
$medium: 1.5rem;
$small: 1rem;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 960px;
$breakpoint-laptop: 1200px;
