@use '../abstracts/abstracts' as *;

.container {
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $purple;

	@media screen and (max-width: $breakpoint-laptop) {
		height: 92vh;
	}
}
