@use '../abstracts/abstracts' as *;

.hero-section {
	@include flex('row');
	height: 60vh;

	&__text {
		width: 50%;
		justify-self: flex-end;
		align-self: center;
		padding-left: 5rem;
		padding-right: 2rem;

		.hero__title {
			font-size: 3rem;
			color: $navy;
		}

		.hero__subtitle {
			font-size: 1.4rem;
			margin-bottom: $medium;
			line-height: 1.5;
			opacity: 80%;
			max-width: 90%;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			padding-right: 0;
			.hero__title {
				font-size: 2rem;
			}

			.hero__subtitle {
				font-size: 1.2rem;
				max-width: 100%;
			}
		}

		@media screen and (max-width: 750px) {
			width: 100%;
			padding-right: 5rem;
			.hero__title {
				font-size: 1.5rem;
			}

			.hero__subtitle {
				font-size: 1rem;
				max-width: 100%;
			}

			#cta-btn {
				font-size: 0.8rem;
			}
		}
	}

	&__image {
		width: 50%;

		@media screen and (max-width: $breakpoint-tablet) {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.image-container {
			margin-top: 2rem;
			margin-left: 5rem;
			position: relative;
			z-index: 2;
			.hero-image {
				width: 80%;
				height: 80%;
			}

			@media screen and (max-width: $breakpoint-tablet) {
				margin-right: 4rem;
				.hero-image {
					width: 100%;
					height: 100%;
				}
			}

			@media screen and (max-width: 750px) {
				display: none;
			}
		}
	}

	@media screen and (max-width: 750px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
