@use '../abstracts/abstracts' as *;

.btn {
	font-size: $small;
	color: $white;
	opacity: 80%;
	background-color: $pink;
	border: none;
	border-radius: $border-radius;
	padding: 0.5rem $small;
	cursor: pointer;

	&:hover {
		background-color: $purple;
	}
}
