@use '../abstracts/abstracts' as *;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $navy;
	padding: $small 5rem;
	height: 8vh;

	@media screen and (max-width: $breakpoint-tablet) {
		padding: $small 2rem;
	}

	.logo {
		color: $light-gray;

		&:hover {
			color: $pink;
		}
	}

	&__items {
		display: flex;
		gap: $small;

		#sign-in {
			color: $light-gray;
			&:hover {
				color: $pink;
				text-decoration: underline;
			}
		}

		#sign-up {
			color: $pink;

			&:hover {
				text-decoration: underline;
			}
		}

		#log-out {
			&:hover {
				text-decoration: underline;
			}
		}

		@media screen and (max-width: 750px) {
			#sign-in {
				font-size: 0.8rem;
				padding-right: 0;
			}
			#sign-up {
				display: none;
			}
		}
	}
}
