@use '../abstracts/abstracts' as *;

.sidebar {
	background-color: $purple;
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		color: $light-gray;
	}

	.sidebar-text {
		display: inline;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.profile-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4rem 0;
		width: 100%;

		.profile-picture {
			min-width: 35%;
			min-height: 35%;
			margin-bottom: 1.5rem;

			@media screen and (max-width: $breakpoint-tablet) {
				min-width: 55%;
				min-height: 55%;
			}

			img {
				width: 100%;
				clip-path: circle();
				background-color: $light-gray;
			}
		}

		.profile-name {
			font-size: 1.5rem;
			font-weight: $font-bold;
			text-align: center;
			padding: 0 0.5rem;

			@media screen and (max-width: $breakpoint-tablet) {
				font-size: smaller;
			}
		}

		.profile-username {
			margin: 0.5rem 0;
			font-style: italic;
			font-weight: $font-light;

			@media screen and (max-width: $breakpoint-mobile) {
				font-size: smaller;
			}
		}

		.profile-edit {
			&:hover {
				text-decoration: underline;
			}

			@media screen and (max-width: $breakpoint-tablet) {
				font-size: smaller;
			}
		}
	}

	.sidebar-links {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.sidebar-link {
			color: $light-gray;
			padding: 0 0.5rem;

			&:hover {
				color: $pink;
			}

			@media screen and (max-width: $breakpoint-tablet) {
				font-size: smaller;
			}
		}
	}
}
