{% extends 'base.html' %} 
{% load i18n %}
{% block title %}
<title>{% trans 'Add Goal' %}</title>
{% endblock %} 

{% block content %} 

{% include 'navbar.html' %}

<div class="container">
	<form class="form" action="" method="post">
		{% include 'alerts.html' %} 
		{% csrf_token %}
		{% if category == 'Nutrition' %}
		<h3 class="form-title">{% trans 'Nutrition Goal' %}</h3>
		{% elif category == 'Water_Intake' %}
		<h3 class="form-title">{% trans 'Water Intake Goal' %}</h3>
		{% elif category == 'Exercise' %}
		<h3 class="form-title">{% trans 'Exercise Goal' %}</h3>
		{% else %}
		<h3 class="form-title">{% trans 'Sleep Goal' %}</h3>
		{% endif %}

		<label class="date-label">{{date}}</label>

		{% if category == 'Nutrition' %}
		<label
			class="parameter-label"
			for="id_parameter"
			data-category="{{category}}"
			>{% trans 'Intake' %}</label
		>
		{% elif category == 'Water_Intake' %}
		<label
			class="parameter-label"
			for="id_parameter"
			data-category="{{category}}"
			>{% trans 'Goal' %}</label
		>
		{% elif category == 'Exercise' %}
		<label
			class="parameter-label"
			for="id_parameter"
			data-category="{{category}}"
			>{% trans 'Activity' %}</label
		>
		{% else %}
		<label
			class="parameter-label"
			for="id_parameter"
			data-category="{{category}}">{% trans 'Goal' %}</label>
		{% endif %}
		
		{{form.parameter}}

		<label for="id_goal">{% trans 'Amount' %}</label>
		{{form.goal}}
		<label for="id_unit">{% trans 'Unit' %}</label>
		{{form.unit}}

		<div class="cta-group">
			<div class="cta-box">
				<input class="btn update-btn" type="submit" name="save" value="{% trans 'Save' %}" />
				<a href="{% url 'cancel' 'goals' date %}" class="btn cancel-btn">{% trans 'Cancel' %}</a>
			</div>
		</div>
	</form>
</div>
{% include 'white-footer.html' %} 

{% endblock %}
