{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
<title>Health Tracker</title>
{% endblock title %}

{% block content %} 

{% include 'navbar.html' %}
<main>
	<div class="hero-section">
		<div class="hero-section__text">
			<h1 class="hero__title">{% trans 'Monitor Your Health' %}</h1>
			<p class="hero__subtitle">
				{% trans "Track your nutrition, water intake, exercise and sleep. Set daily goals! Check your weekly progress." %}
			</p>
			

			<a id="cta-btn" class="btn" href="{% url 'sign_up' %}">{% trans 'Sign Up' %}</a>
			
		</div>

		<div class="hero-section__image">
			<div class="image-container">
				<img
					class="hero-image"
					src="{% static 'images/hero_image.svg' %}"
					alt="image of people drinking water, eating and running and a clock" />
			</div>
		</div>
	</div>
</main>
{% include 'purple-footer.html' %} 
{% endblock content %}
