{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% block title %}
<title>Plan</title>
{% endblock title %}

{% block content %} 

{% include 'navbar.html' %}

<div class="wrapper">
	{% include 'sidebar.html' %}
	<div id="daily-progress" class="data-box">
		<div class="header">
			<h3 class="header-title">
				<i class="fa-solid fa-bullseye"></i> {% trans 'Daily Progress' %}
			</h3>
			<div class="date-container">
				<input
					id="progress-date"
					class="header-date"
					type="date"
					name="date"
					title="Month-Day-Year"
					value="{{date}}" />
			</div>
		</div>
		<div class="progress-content">
			<div class="progress-card">
				<div class="progress-card-header">
					<p class="progress-card-title">
						<i class="fa-solid fa-plate-wheat"></i> {% trans 'Nutrition' %}
					</p>
				</div>
				<div class="progress-card-body">
					<div class="progress-info">
						{% for plan in nutrition_plan %}
						<div class="info">
							<div class="box">
								<div class="flex-start">
									{% if plan.goal == plan.progress %}
									<i class="fa-solid fa-check"></i>
									{% else %}
									<i class="fa-solid fa-minus"></i>
									{% endif %}
									<p class="parameter">{{plan.parameter}}:</p>
								</div>

								<div class="flex-end">
									<p>{{plan.progress|floatformat:"-2"}}</p>
									<p>{{plan.unit}}</p>
								</div>
							</div>

							<div class="progress-bar">
								<p>0%</p>
								<div class="bar-total">
									<div class="bar-done"></div>
								</div>
								<p class="plan_percentage" data-id="{{plan.id}}"></p>
							</div>

							<a href="{% url 'edit_progress' plan.id %}" class="progress-edit"
								><i class="fa-solid fa-pen-to-square"></i
							></a>
						</div>
						{% empty %}
						<table>
							<tbody>
								<tr>
									<td class="empty">
										{% trans 'No progress to show. Set daily goals for this date first.' %}
									</td>
								</tr>
							</tbody>
						</table>

						{% endfor %}
					</div>
					<div class="progress-percent">
						<p class="percent-number">
							{{nutrition_percentage|floatformat:'0'}}%
						</p>
						<p class="percent-label">{% trans 'goal reached' %}</p>
					</div>
				</div>
			</div>

			<div class="progress-card">
				<div class="progress-card-header">
					<p class="progress-card-title">
						<i class="fa-solid fa-bottle-water"></i> {% trans 'Water Intake' %}
					</p>
				</div>
				<div class="progress-card-body">
					<div class="progress-info">
						{% for plan in water_plan %}
						<div class="info">
							<div class="box">
								<div class="flex-start">
									{% if plan.goal == plan.progress %}
									<i class="fa-solid fa-check"></i>
									{% else %}
									<i class="fa-solid fa-minus"></i>
									{% endif %}
									<p class="parameter">{{plan.parameter}}:</p>
								</div>

								<div class="flex-end">
									<p>{{plan.progress|floatformat:"-2"}}</p>
									<p>{{plan.unit}}</p>
								</div>
							</div>

							<div class="progress-bar">
								<p>0%</p>
								<div class="bar-total">
									<div class="bar-done"></div>
								</div>
								<p class="plan_percentage" data-id="{{plan.id}}"></p>
							</div>

							<a href="{% url 'edit_progress' plan.id %}" class="progress-edit"
								><i class="fa-solid fa-pen-to-square"></i
							></a>
						</div>
						{% empty %}
						<table>
							<tbody>
								<tr>
									<td class="empty">
										{% trans 'No progress to show. Set daily goals for this date first.' %}
									</td>
								</tr>
							</tbody>
						</table>
						{% endfor %}
					</div>
					<div class="progress-percent">
						<p class="percent-number">
							{{water_intake_percentage|floatformat:'0'}}%
						</p>
						<p class="percent-label">{% trans 'goal reached' %}</p>
					</div>
				</div>
			</div>

			<div class="progress-card">
				<div class="progress-card-header">
					<p class="progress-card-title">
						<i class="fa-solid fa-person-running"></i> {% trans 'Exercise' %}
					</p>
				</div>
				<div class="progress-card-body">
					<div class="progress-info">
						{% for plan in exercise_plan %}
						<div class="info">
							<div class="box">
								<div class="flex-start">
									{% if plan.goal == plan.progress %}
									<i class="fa-solid fa-check"></i>
									{% else %}
									<i class="fa-solid fa-minus"></i>
									{% endif %}
									<p class="parameter">{{plan.parameter}}:</p>
								</div>

								<div class="flex-end">
									<p>{{plan.progress|floatformat:"-2"}}</p>
									<p>{{plan.unit}}</p>
								</div>
							</div>

							<div class="progress-bar">
								<p>0%</p>
								<div class="bar-total">
									<div class="bar-done"></div>
								</div>
								<p class="plan_percentage" data-id="{{plan.id}}"></p>
							</div>
							<a href="{% url 'edit_progress' plan.id %}" class="progress-edit"
								><i class="fa-solid fa-pen-to-square"></i
							></a>
						</div>
						{% empty %}
						<table>
							<tbody>
								<tr>
									<td class="empty">
										{% trans 'No progress to show. Set daily goals for this date first.' %}
									</td>
								</tr>
							</tbody>
						</table>
						{% endfor %}
					</div>
					<div class="progress-percent">
						<p class="percent-number">
							{{exercise_percentage|floatformat:'0'}}%
						</p>
						<p class="percent-label">{% trans 'goal reached' %}</p>
					</div>
				</div>
			</div>

			<div class="progress-card">
				<div class="progress-card-header">
					<p class="progress-card-title">
						<i class="fa-solid fa-bed"></i> {% trans 'Sleep' %}
					</p>
				</div>
				<div class="progress-card-body">
					<div class="progress-info">
						{% for plan in sleep_plan %}
						<div class="info">
							<div class="box">
								<div class="flex-start">
									{% if plan.goal == plan.progress %}
									<i class="fa-solid fa-check"></i>
									{% else %}
									<i class="fa-solid fa-minus"></i>
									{% endif %}
									<p class="parameter">{{plan.parameter}}:</p>
								</div>

								<div class="flex-end">
									<p>{{plan.progress|floatformat:"-2"}}</p>
									<p>{{plan.unit}}</p>
								</div>
							</div>

							<div class="progress-bar">
								<p>0%</p>
								<div class="bar-total">
									<div id="{{plan.id}}" class="bar-done"></div>
								</div>
								<p class="plan_percentage" data-id="{{plan.id}}"></p>
							</div>
							<a href="{% url 'edit_progress' plan.id %}" class="progress-edit"
								><i class="fa-solid fa-pen-to-square"></i
							></a>
						</div>
						{% empty %}
						<table>
							<tbody>
								<tr>
									<td class="empty">
										{% trans 'No progress to show. Set daily goals for this date first.' %}
									</td>
								</tr>
							</tbody>
						</table>
						{% endfor %}
					</div>
					<div class="progress-percent">
						<p class="percent-number">{{sleep_percentage|floatformat:'0'}}%</p>
						<p class="percent-label">{% trans 'goal reached' %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="daily-goals" class="data-box">
		<div class="header">
			<h3 class="header-title">
				<i class="fa-solid fa-bullseye"></i> {% trans 'Daily Goals' %}
			</h3>
			<div class="date-container">
				<input
					id="goals-date"
					class="header-date"
					type="date"
					name="date"
					title="Month-Day-Year"
					value="{{date}}" />
			</div>
		</div>
		<div class="content">
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-plate-wheat"></i> {% trans 'Nutrition' %}
					</p>
					<a
						href="{% url 'add_plan' 'Nutrition' date %}"
						class="add-btn"
						title="{% trans 'Add Goal' %}"
						><i class="fa-solid fa-plus"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in nutrition_plan %}
						<tr>
							<td class="parameter">{{plan.parameter}}</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
							<td class="edit">
								<a href="{% url 'edit_goal' plan.id %}" class="card-edit"
									><i class="fa-solid fa-pen-to-square"></i
								></a>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td class="empty">- {% trans 'No daily goals set for this date yet.' %}</td>
						</tr>

						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-bottle-water"></i> {% trans 'Water Intake' %}
					</p>
					<a
						href="{% url 'add_plan' 'Water_Intake' date %}"
						class="add-btn"
						title="{% trans 'Add Goal' %}"
						><i class="fa-solid fa-plus"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in water_plan %}
						<tr>
							<td class="parameter">Water</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
							<td class="edit">
								<a href="{% url 'edit_goal' plan.id %}" class="card-edit"
									><i class="fa-solid fa-pen-to-square"></i
								></a>
							</td>
						</tr>

						{% empty %}
						<tr>
							<td class="empty">- {% trans 'No daily goals set for this date yet.' %}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-person-running"></i> Exercise
					</p>
					<a
						href="{% url 'add_plan' 'Exercise' date %}"
						class="add-btn"
						title="{% trans 'Add Goal' %}"
						><i class="fa-solid fa-plus"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in exercise_plan %}
						<tr>
							<td class="parameter">{{plan.parameter}}</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
							<td class="edit">
								<a href="{% url 'edit_goal' plan.id %}" class="card-edit"
									><i class="fa-solid fa-pen-to-square"></i
								></a>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td class="empty">- {% trans 'No daily goals set for this date yet.' %}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title"><i class="fa-solid fa-bed"></i> {% trans 'Sleep' %}</p>
					<a
						href="{% url 'add_plan' 'Sleep' date %}"
						class="add-btn"
						title="{% trans 'Add Goal' %}"
						><i class="fa-solid fa-plus"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in sleep_plan %}
						<tr>
							<td class="parameter">{% trans 'Sleep' %}</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
							<td class="edit">
								<a href="{% url 'edit_goal' plan.id %}" class="card-edit"
									><i class="fa-solid fa-pen-to-square"></i
								></a>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td class="empty">- {% trans 'No daily goals set for this date yet.' %}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="weekly-progress" class="data-box">
		<div class="header">
			<h3 class="header-title">
				<i class="fa-solid fa-bullseye"></i> {% trans 'Weekly Progress' %}
			</h3>
			<div class="date-container">
				<p id="header-subtitle">{% trans 'week ending on' %}</p>
				<input
					id="weekly-date"
					class="header-date"
					type="date"
					name="date"
					title="Month-Day-Year"
					value="{{date}}" />
			</div>
		</div>
		<div class="content">
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-plate-wheat"></i> {% trans 'Nutrition' %}
					</p>
				</div>
				<div class="card-content">
					<div class="weekly-content">
						{% for value in nutrition_weekly %}
						<div class="chart">
							<p class="chart-percentage">
								{{value.percentage|floatformat:'0'}}
							</p>
							<div class="chart-bar">
								<div class="chart-fill"></div>
							</div>
							<p class="chart-date">{{value.date|slice:'0:6'}}</p>
						</div>

						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-bottle-water"></i> {% trans 'Water Intake' %}
					</p>
				</div>
				<div class="card-content">
					<div class="weekly-content">
						{% for value in water_weekly %}
						<div class="chart">
							<p class="chart-percentage">
								{{value.percentage|floatformat:'0'}}
							</p>
							<div class="chart-bar">
								<div class="chart-fill"></div>
							</div>
							<p class="chart-date">{{value.date|slice:'0:6'}}</p>
						</div>

						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-person-running"></i> {% trans 'Exercise' %}
					</p>
				</div>
				<div class="card-content">
					<div class="weekly-content">
						{% for value in exercise_weekly %}
						<div class="chart">
							<p class="chart-percentage">
								{{value.percentage|floatformat:'0'}}
							</p>
							<div class="chart-bar">
								<div class="chart-fill"></div>
							</div>
							<p class="chart-date">{{value.date|slice:'0:6'}}</p>
						</div>

						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title"><i class="fa-solid fa-bed"></i> {% trans 'Sleep' %}</p>
				</div>
				<div class="card-content">
					<div class="weekly-content">
						{% for value in sleep_weekly %}
						<div class="chart">
							<p class="chart-percentage">
								{{value.percentage|floatformat:'0'}}
							</p>
							<div class="chart-bar">
								<div class="chart-fill"></div>
							</div>
							<p class="chart-date">{{value.date|slice:'0:6'}}</p>
						</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
