{% extends 'base.html' %} {% block title %}
<title>Plan</title>
{% endblock title %} {% block content %} {% include 'navbar.html' %}

<div class="wrapper">
	{% include 'sidebar.html' %}
	<div id="daily-progress" class="data-box">
		<div class="header">
			<h3 class="header-title">
				<i class="fa-solid fa-bullseye"></i> Daily Progress
			</h3>

			<input
				id="progress-date"
				class="header-date"
				type="date"
				name="date"
				title="Month-Day-Year"
				value="{{date}}" />
		</div>
		<div class="content"></div>
	</div>

	<div id="daily-goals" class="data-box">
		<div class="header">
			<h3 class="header-title">
				<i class="fa-solid fa-bullseye"></i> Daily Goals
			</h3>

			<input
				id="goals-date"
				class="header-date"
				type="date"
				name="date"
				title="Month-Day-Year"
				value="{{date}}" />
		</div>
		<div class="content">
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-plate-wheat"></i> Nutrition
					</p>
					<a href="" class="card-edit"
						><i class="fa-solid fa-pen-to-square"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in nutrition_plan %}
						<tr>
							<td class="parameter">{{plan.parameter}}</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-bottle-water"></i> Water Intake
					</p>
					<a href="" class="card-edit"
						><i class="fa-solid fa-pen-to-square"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in water_plan %}
						<tr>
							<td class="parameter">Water</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title">
						<i class="fa-solid fa-person-running"></i> Exercise
					</p>
					<a href="" class="card-edit"
						><i class="fa-solid fa-pen-to-square"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in exercise_plan %}
						<tr>
							<td class="parameter">{{plan.parameter}}</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<p class="card-title"><i class="fa-solid fa-bed"></i> Sleep</p>
					<a href="" class="card-edit"
						><i class="fa-solid fa-pen-to-square"></i
					></a>
				</div>
				<div class="card-content">
					<table>
						{% for plan in sleep_plan %}
						<tr>
							<td class="parameter">Sleep</td>
							<td class="goal">{{plan.goal|floatformat:"-2"}}</td>
							<td class="unit">{{plan.unit}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="weekly-progress" class="data-box">
		<div class="header">
			<h3 class="header-title">
				<i class="fa-solid fa-bullseye"></i> Weekly Progress
			</h3>

			<input
				id="weekly-date"
				class="header-date"
				type="date"
				name="date"
				title="Month-Day-Year"
				value="{{date}}" />
		</div>
		<div class="content"></div>
	</div>
</div>

{% endblock %}
