{% extends 'base.html' %} 
{% load i18n %}
{% block title %}
<title>{% trans 'Sign Up' %}</title>
{% endblock title %} 

{% block content %} 

{% include 'navbar.html' %}

<div class="container">
	<form class="form" action="" method="post" enctype="multipart/form-data">
		{% include 'alerts.html' %}
		{% csrf_token %}
		<h3 class="form-title">{% trans 'Sign Up' %}</h3>
		{{form}}
		<input class="btn form-btn" type="submit" value="{% trans 'Sign Up' %}" />
	</form>
</div>
{% include 'white-footer.html' %} 

{% endblock content %}
