{% extends 'base.html' %} 
{% load i18n %}
{% block title %}
<title>{% trans 'Sign In' %}</title>
{% endblock title %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
	<form class="form" action="" method="post">
		{% include 'alerts.html' %} 
		{% csrf_token %}
		<h3 class="form-title">{% trans 'Sign In' %}</h3>
		{{form.username}}
		{{form.password}}
		<input class="btn form-btn" type="submit" value="{% trans 'Log In' %}" />
	</form>
</div>

{% include 'white-footer.html' %} 

{% endblock content %}
